:host{
    background-color: transparent;
    width:400px;
    height:700px;
    border: 1px solid #ffffffd7;
}
.mat-mdc-dialog-surface{
    background-color: transparent;
}
:host .token-select-container{
    background-color: #ffffff00;
    width:400px;
    height:700px;
    border: 1px solid #ffffffd7;
}
